<div>
  <div id="q1">
    <div class="div1">
      <br>
        Bem-vindo ao
        <p>OlympiQuiz</p>
    </div>
    <div class="div2">
      <p>Olimpíada é adiada pela primeira vez na história!</p>
      A maior competição esportiva de 2020 adiou as medalhas de ouro pela saúde: a Olimpíada de Tóquio será oficialmente em 2021.
      <br>
      E por isso estamos aqui para relembrar um pouco do que aconteceu em competições anteriores, para não ficarmos sem um gostinho do que nos aguarda!
    </div>
    <div class="div3">

          <input matInput placeholnder="Preencha seu nome">

    </div>
  </div>
