<div>
  <div id="q1">
      <div class="div1">
        <p>Bem-vindo ao</p>
        <h1>OlimpiQuiz</h1>
      </div>
    <div class="div2">
      <p>Olimpíada é adiada pela primeira vez na história!</p>
      A maior competição esportiva de 2020 adiou as medalhas de ouro pela saúde: a Olimpíada de Tóquio será oficialmente
      em 2021.
      <br>
      E por isso estamos aqui para relembrar um pouco do que aconteceu em competições anteriores, para não ficarmos sem
      um gostinho do que nos aguarda!
    </div>
    <div class="div3">


      <mat-card>
        <form class="example-form" name="entrada">
          <mat-form-field class="example-full-width">
            <mat-label>Informe seu nome</mat-label>
            <input matInput [(ngModel)]="apiNome.nome" name="nome">
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary" routerLink="/quiz" >Iniciar Quiz</button>
        </form>
      </mat-card>
    </div>
  </div>
