<div id="CardQuiz">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{Pais}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="Bandeira" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <label id="example-radio-group-label">Quantas medalhas de Ouro o {{Pais}} obteve nas olimpadas?</label>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
        [(ngModel)]="Resposta">
        <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
          {{season}}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
    <mat-card-actions>
      <div id="ButtonQuiz">
      <button (click)="VerificaResposta()" mat-raised-button color="primary">Confirmar</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
