#CardQuiz{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 2%;
  max-width: 100%;
<<<<<<< HEAD
  width: 90%;
  padding: 2px;
}

#CardQuiz img{
  margin: 0;
  width: 100%;
  border-style:solid;
  border-width: 1px;
=======
  width: 50%;
  background-color: black;
>>>>>>> 2f1581d48288282df19e94ed3b12f3f3039fcc40
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.ButtonQuiz{
  margin: 50px;
}
