#CardQuiz{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 2%;
  max-width: 100%;
  width: 90%;
}

img {
  border-style:solid;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.ButtonQuiz{
  margin: 50px;
}
